<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>com.google.appengine.profile.SignGuestbookServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.google.appengine.profile.ProfileServlet</servlet-class>
    </servlet>
	    <servlet>
        <servlet-name>register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register/*</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
        <welcome-file>profile.jsp</welcome-file>
    </welcome-file-list>
</web-app>